body {
  margin: 0;
}

a {
  text-decoration: none;
}

/*containerクラスのwidthを1170pxに、左右のpaddingを15pxに、
左右のmarginをautoに指定してください*/
.container{
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}



/*top-wrapperクラスの上下のpaddingをそれぞれ180px,100pxに、*/
/*background-imageのurlを「https://prog-8.com/images/html/advanced/top.png」に、*/
/*background-sizeをcoverに、文字の色をwhiteに指定してください*/


.top-wrapper{
  padding: 180px 0 100px;
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
  color: white;
}


/*top-wrapperの中のh1のopacityを0.7に、font-sizeを45pxに、
letter-spacingを5pxに指定してください*/
h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}



/*top-wrapperの中のpのopacityを0.7に、font-sizeを14pxに指定してください*/


p {
  opacity: 0.7;
  font-size: 14px;
}
